@import url("https://fonts.googleapis.com/css?family=Rubik");
@import url("https://fonts.googleapis.com/css?family=Inter");

:root {
    --background-color: #14171C;
    --code-background: #22272E;
    --theme-color: #77ff00;
    --menu-color:#cfcfcf;
    --universal-padding: 10px;
    --universal-padding: 5px;
    --list-padding:1px 2px 1px 10px;
}

body,html {
    width: 90%;
    margin-left: 10px;
    color:white;
    font-family: "Inter";
    background-color: var(--background-color);
    overflow-wrap: break-word;
}

/* Body of index.html */
.main-html,.main-body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-left: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Rubik";
}

p,li,ol,ul,#text,a {
    font-size: 15px;
    font-family: "Inter";
}

a{
    color:var(--theme-color);
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    width: fit-content;
    padding: var(--universal-padding);
    margin: var(--universal-margin);
}
  
th,td{
    background-color: var(--contrast-from-background);
    text-align: left;
    color: white;
    padding: 15px;
    font-family: "Inter";
    border: 1px solid  var(--contrast-from-background-light);
}

ul {
    margin: 5px;
    padding: var(--list-padding);
}

.side-list {
    font-size: 13px;
    transition: 0.2s;
    color: whitesmoke;
    padding: var(--list-padding);
    border-radius: 2px;
}

:not(pre) > code {
    background: var(--code-background);
    padding: 2px 5px 2px 5px;
    font-family: "Inter";
}

pre{
    background: var(--code-background);
    border: none;
    color: white;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 60%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    tab-size: 4;
}

*{
    scrollbar-width: 15px;
    scrollbar-face-color: grey; 
    scrollbar-shadow-color: var(--code-background); 
}

*::-webkit-scrollbar {
    width: 15px;
    height:7.5px;
}

*::-webkit-scrollbar-track {
    background-color: var(--code-background);
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
}

.main-header,.main-list{
    font-size: 15px;
    font-weight: 600;
}

#main {
    display: flex;
    min-height: 100%;
    min-width: 100%;
}

.iframe-container {
    flex-grow: 1;
    width: 85%;
    overflow: hidden;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.sidebar {
    z-index: 10;
    width:15%;
    background-color: var(--code-background);
    transition: 0.2s;
}

.sidebar li,.main-list{
    padding: 5px;
    display: block;
}

.sidebar li:hover, .main-list:hover {
    backdrop-filter: brightness(150%);
    cursor: pointer;
}

.hamburger {
    z-index: 20;
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1024px) {
    body{
        width: 100%;
    }
    pre {
        font-size: 12px;
        max-width: 100%;
    }
    .sidebar {
        background-color: var(--background-color);
        width:75%;
        padding-top: 25px;
        display: none;
    }
    .hamburger {
        display:  block;
    }
}